@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(113, 108, 108) 0%, rgba(255, 155, 148, 0) 33%, rgb(242, 244, 230) 100%);
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    color: #000000;
    text-decoration: none;
    padding: 10px 40px;
    transition: color 0.5s;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(65, 45, 4);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.content {
    display: flex;
    position: relative;
    height: calc(100dvh - 5rem);
    z-index: 2;
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url(../img/aircon.jpg);
    background-size: 100% 120%;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(90%);
    flex-direction: column;
    align-items: flex-end;
}

.content h1 {
    display: flex;
    font-size: 35px;
    font-weight: 500;
    padding-left: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contentbox {
    padding: 50px;
    display: flex;
    font-weight: 500;
    padding-left: 30px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2000px rgba(109, 106, 106, 0.329);
    width: 40%;
    border-radius: 50px;
    flex-direction: column;
}

.content p {
    display: flex;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: start;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 35rem;
    padding-left: 2rem;
}

.card-container {
    flex: 1 1 100px;
    margin: 10px;
}

.card {
    width: 650px;
    height: 230px;
    background-color: #f8f8f8;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}

.card-content {
    display: flex;
    padding: 20px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.card-content img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    transition: transform 0.3s;
    border-radius: 60px;
}

.member h1 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 900;
}

.member p {
    font-size: 14px;
}

@media (max-width: 991px) {
    .wrapper {
        padding: 0;
    }

    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.card-content img:hover {
    transform: translateY(-10px);
}
